@model BasketViewModel
@{
    ViewData["Title"] = "Sepet";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sepet</h5>
                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Kurs ismi</th>
                            <th>Kurs fiyatı</th>
                            <th>İşlemler</th>
                        </tr>
                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>@item.GetCurrentPrice ₺ @(Model.HasDiscount ? $"%{Model.DiscountRate.Value} uygulandı": "")</td>
                                <td><a href="/Basket/RemoveBasketItem/@item.CourseId" class="btn btn-danger">Sil</a></td>
                            </tr>
                        }
                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>İndirim oranı</td>
                                <td colspan="2">%@Model.DiscountRate.Value</td>
                            </tr>
                        }
                        <tr>
                            <td>@(Model.HasDiscount ? "İndirimli fiyat" : "Toplam Fiyat")</td>
                            <td colspan="2">@Model.TotalPrice ₺</td>
                        </tr>
                    </table>
                    <form action="/Basket/ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">"@Model.DiscountCode" indirim kodu uygulandı. <a href="/Basket/CancelApplyDiscount" class="text-danger">(X)</a>   </div>
                        }
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="DiscountApplyInput.Code" placeholder="Kupon kodu uygula">
                            <button class="btn btn-outline-secondary" type="submit">Uygula</button>
                        </div>
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                        @if (TempData["discountStatus"] != null && (bool) TempData["discountStatus"] == false && TempData["discountError"] == null)
                        {
                            <div class="text-danger">İndirim kodu geçersiz!</div>
                        }
                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Ödeme bilgileri</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Kursları incelemeye devam et</a>
                }
                else
                {
                    <div class="alert alert-info">Sepet boş</div>
                }
            </div>
        </div>
    </div>
</div>

